body{
    background: url('images/banner.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.signup-list{
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.278);
    padding: 2rem;
    border-radius: 10px;
}
.login-section{
    margin-top: 6rem;
}
.login-section form input{
    margin-bottom: 1.3rem;
    background-color: rgba(221, 221, 221, 0.585);

}
.login-list input{
    background-color: rgba(221, 221, 221, 0.533);
}
